package index

templ Index(name string) {
	<div class="text-6xl font-bold">Hello, { name }</div>
	<button 
		hx-post="/api/test"
		class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    hx-trigger="click"
    hx-target="#parent-div"
    hx-swap="outerHTML"
	>
			Click Me!
	</button>
	<div id="parent-div">
		<div class="text-2xl font-bold">This is a test</div>
	</div>
}