package filelist 

import (
  "project/app/utils/types/dbtypes" 
  filecomp "project/app/templates/components/file"
)

templ FileList(files []dbtypes.File) {
  <ul>
    for _, file := range files {
      @filecomp.File(file)
    }
  </ul>
}