package posts

import "project/app/utils/dbtypes"
import tpost "project/app/templates/components/post"

templ Posts(posts []dbtypes.Post) {
	<div class="flex flex-col gap-2" >
    for _, post := range posts {
      @tpost.Post(post.Title, post.Body, post.CreatedAt, post.Id)
    }
  </div>
}