package file 

import "project/app/utils/types/dbtypes"

templ File(file dbtypes.File) {
 <div class="rounded-md bg-slate-200 m-2 p-2">
    <h1 class="text-2xl font-bold">{file.Name}</h1>
    <audio class="bg-black" controls>
      <source src={ file.Url } type="audio/mpeg" /> 
    </audio>
 </div> 
}